body {
    font-family: Arial, sans-serif;
    background-color: #15202b;
    margin: 0;
    padding: 0;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.image-container {
    background-image: url('../static/anon.jpg');
    width: 900px;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    text-align: center;
    color: #ff9900;
    font-size: 28px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #ff9900;
}

a:hover {
    color: #ffffff;
}

button {
    background-color: #ff9900;
    color: #15202b;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff6600;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #15202b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #ff9900;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ff9900;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #ff9900;
    color: #15202b;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #ff6600;
}

p {
    text-align: center;
    color: #ff9900;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #15202b;
    color: #ccc;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ff9900;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color: #ff9900;
    color: #15202b;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}
